/* Font Link: Google Font work sans */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared style */

.btn-primary{
    
}

/* Header Style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 1.8rem;
}

nav>ul {
    display: flex;
}

nav li {

    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.banner {
    width: 862px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    color: #727272;
}