/* Font Link: Google Font work sans */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared style */

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: 0;
    cursor: pointer;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    color: #131313;
    font-weight: 700;
    font-size: 1.8rem;
}
/* Header Style */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {

    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0px auto;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
    line-height: normal;
}




/* Main style */

main{
    max-width: 1440px;
    margin: 70px auto;
}


/* Teams style */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.team-content{
    padding-left: 50px;
    padding-right: 50px;
}

.team-title{
    font-size: 1.5rem;
}

.team-title .quick-list {
    color: #727272;
    font-weight: 500;
}
.team-title .text-features {
    color: #FF900E;
    font-weight: 700;

}


/* Facts styles */

.facts{
    text-align: center;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 15px 30px;
}

.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 5px;
}

.facts-card-container .card-stats{
   color: #424242;
   font-size: 2rem;
}




/* Sponsors Style */

.sponsors{
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}





/* Responsive media query */

/* mobile device */
@media screen and (max-width: 567px) {
    
    header {
        padding: 20px;
      
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container{

        flex-direction: column;
    }

    
        .team-content, .facts-card-container {
            padding-left: 20px;
            padding-right: 20px;
        }


    .teams-img-container {
        grid-template-columns: 1fr;
    }


    .facts-card-container{
        gap: 10px;
    }

    .sponsors-img-container img {

        width: 150px;
    }
}








/* tablat devices */

@media  screen and (min-width: 576px) and (max-width:960px) {
    
    header {
        padding: 50px;
      
    }

    nav,
    .teams-container{
        flex-direction: column;
    }

    .sponsors-img-container img {

        width: 80px;
    }
}